<p id="notice"><%= notice %></p>

<h1>Another News</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    I wish I had thisss!
  </tbody>
</table>

<br>

<%= link_to 'New Another News', new_another_news_path %>
